@charset "UTF-8";
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body,
html {
  margin: 0;
}

#app {
  height: 100vh;
}

.app_wrap {
  min-width: 1100px;
}

.el-tabs--border-card {
  box-shadow: none;
}

.flex {
  display: flex;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.column {
  flex-direction: column;
}

.flex.top {
  align-items: flex-start;
}

.flex .self_top {
  align-self: flex-start;
}

.flex.middle {
  align-items: center;
}

.flex .baseline {
  align-items: baseline;
}

.flex .self_middle {
  align-self: center;
}

.flex.center {
  justify-content: center;
}

.flex.right {
  justify-content: flex-end;
}

.flex.left {
  justify-content: flex-start;
}

.flex .self_center {
  justify-self: center;
}

.flex.bottom {
  align-items: flex-end;
}

.flex .self_bottom {
  align-self: flex-end;
}

.flex.round {
  justify-content: space-around;
}

.flex.between {
  justify-content: space-between;
}

.flex.average > * {
  flex: 1;
}

.flex .auto {
  flex: 0 auto;
}

.flex .fill {
  flex: 1;
}

.tk-grid-1 {
  width: 4.16667%;
}

.tk-grid-2 {
  width: 8.33333%;
}

.tk-grid-3 {
  width: 12.5%;
}

.tk-grid-4 {
  width: 16.66667%;
}

.tk-grid-5 {
  width: 20.83333%;
}

.tk-grid-6 {
  width: 25%;
}

.tk-grid-7 {
  width: 29.16667%;
}

.tk-grid-8 {
  width: 33.33333%;
}

.tk-grid-9 {
  width: 37.5%;
}

.tk-grid-10 {
  width: 41.66667%;
}

.tk-grid-11 {
  width: 45.83333%;
}

.tk-grid-12 {
  width: 50%;
}

.tk-grid-13 {
  width: 54.16667%;
}

.tk-grid-14 {
  width: 58.33333%;
}

.tk-grid-15 {
  width: 62.5%;
}

.tk-grid-16 {
  width: 66.66667%;
}

.tk-grid-17 {
  width: 70.83333%;
}

.tk-grid-18 {
  width: 75%;
}

.tk-grid-19 {
  width: 79.16667%;
}

.tk-grid-20 {
  width: 83.33333%;
}

.tk-grid-21 {
  width: 87.5%;
}

.tk-grid-22 {
  width: 91.66667%;
}

.tk-grid-23 {
  width: 95.83333%;
}

.tk-grid-24 {
  width: 100%;
}

.scroll .el-scrollbar__wrap {
  overflow-x: hidden;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.f-14 {
  font-size: 14px;
}

.container {
  width: 88%;
  margin: 0 auto;
}

.inline-block-middle:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

/*hover提示样式*/
#el-tooltip__popper {
  margin-bottom: 5px;
}

.el-tooltip__popper {
  padding: 5px;
  margin-bottom: 5px;
}

.el-message-box__content {
  max-height: 200px !important;
  overflow-y: auto !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.el-menu--horizontal .el-menu-item:not(.is-disabled):hover {
  background-color: #fff;
}

.el-menu-item {
  font-size: 18px;
  font-weight: 600;
}

.el-main {
  /* width: 88%; */
  margin: 0 auto;
  display: block;
  flex: 1;
  flex-basis: auto;
  /* overflow: auto; */
  box-sizing: border-box;
  padding: 0 0px;
  background-color: #fff;
}

[class^="el-icon-"],
[class*=" el-icon-"] {
  cursor: pointer;
  color: #EA5514;
  font-size: 18px;
  text-transform: none;
}

.el-button--primary.is-active,
.el-button--primary:active {
  background: #EA5514;
  border-color: #EA5514;
  color: #fff;
}

.el-button--primary:focus,
.el-button--primary:hover {
  background: #EA5514;
  border-color: #EA5514;
  color: #fff;
}

.el-button--primary {
  color: #fff;
  background-color: #EA5514;
  border-color: #EA5514;
}

.el-button--primary.is-disabled,
.el-button--primary.is-disabled:active,
.el-button--primary.is-disabled:focus,
.el-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #a0cfff;
  border-color: #a0cfff;
}

.el-table th {
  padding: 10px 0;
  background-color: lightgray;
  color: #333333;
}

.el-table td,
.el-table th {
  padding: 6px 0 !important;
}

.el-table td .el-button {
  padding: 0;
}

.el-table td {
  min-width: 0;
  box-sizing: border-box;
  text-overflow: ellipsis;
  vertical-align: middle;
  position: relative;
  text-align: left;
}
.el-table .el-table__row:nth-child(even) {
  background: rgb(202, 18, 18);
}
.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #37b8c3;
  color: #fff;
}

.m-l-15 {
  margin-left: 15px;
}

/*分页样式*/
.paginationClass {
  width: 100%;
  text-align: right;
  padding: 15px 0;
}

.datatable {
  font-size: 14px;
  border: 1px solid #ebeef5;
  text-align: center;
}

.datatable tbody tr:nth-child(even) {
  background: #fafafa;
}

.fy {
  text-align: right;
  margin-top: 10px;
}

.datatable th {
  font-size: 14px;
  padding: 10px 0;
  background-color: lightgray;
  color: #333333;
  min-width: 120px;
}

.datatable th:nth-child(2) {
  min-width: 150px;
}

.datatable th:nth-child(1) {
  min-width: 90px;
}

.tableheight {
  height: 570px;
  overflow: auto;
}

.bottomright {
  margin-top: 10px;
  text-align: right;
  margin-bottom: -35px;
  position: relative;
  z-index: 2;
}

.el-table .cell {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  line-height: 23px;
  padding-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.maxValue {
  color: #dd6161;
  font-weight: bolder;
}

.minValue {
  color: #EA5514;
  font-weight: bolder;
}

.buildname {
  color: #00a59f;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.spancolor {
  cursor: pointer;
  color: #EA5514;
}

.imgcenter {
  width: 20px;
  vertical-align: middle;
}

.product-container {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #EA5514;
  border-color: #EA5514;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: #EA5514;
  border-color: #EA5514;
}

.el-checkbox__inner:hover {
  border: 1px solid #EA5514;
}

.carList .item .itemConfig .table .trow .iconCompare {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url(../assets/i-plus.png) no-repeat 0 0;
  background-size: contain;
}

.el-card {
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  transition: 0.3s;
  width: 100%;
  margin: 0 auto;
}

.product-center {
  width: 1260px;
  margin: 0 auto;
}

.product-five-box {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 40px;
}

.product-five-box a {
  width: 140px;
  height: 176px;
  border: 1px solid #dedede;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  flex-direction: column;
  color: #2a2a2a;
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 60px;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.product-five-box .five-box-three {
  background-image: url(https://shj-web.oss-cn-hangzhou.aliyuncs.com/static/pcweb/images/index/bj_normal.png_shj-aliyun-nsy);
}

.product-five-box .five-box-two {
  background-image: url(https://shj-web.oss-cn-hangzhou.aliyuncs.com/static/pcweb/images/index/sj_normal.png_shj-aliyun-nsy);
}

.product-five-box .five-box-one {
  background-image: url(https://shj-web.oss-cn-hangzhou.aliyuncs.com/static/pcweb/images/index/lf_normal.png_shj-aliyun-nsy);
}

.product-five-box .five-box-four {
  background-image: url(https://shj-web.oss-cn-hangzhou.aliyuncs.com/static/pcweb/images/index/cggd_normal.png_shj-aliyun-nsy);
}

.product-five-box .five-box-five {
  background-image: url(https://shj-web.oss-cn-hangzhou.aliyuncs.com/static/pcweb/images/index/addr_normal.png_shj-aliyun-nsy);
}

.quote {
  width: 350px;
  height: 450px;
  background: #fff;
  padding: 20px;
}

.quote-title {
  width: 100%;
  height: 60px;
  background: #373737;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  margin-bottom: 20px;
}

.el-icon-s-home {
  color: #fff;
}

.product-content {
  width: 100%;
  height: 450px;
  margin: 0px auto 25px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.product {
  width: 900px;
  height: 450px;
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
}

.subhead {
  color: #393939;
  padding: 15px 0;
}

.el-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 35px;
  line-height: 35px;
  outline: 0;
  padding: 0 15px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

.el-textarea__inner {
  height: 100px;
}

.el-dialog__body {
  padding: 20px;
}

.searchbot {
  text-align: right;
  margin-bottom: -30px;
  z-index: 999;
  position: inherit;
  width: 30%;
  float: right;
}

.nodata {
  border: 1px solid #e6e6e6;
  height: 400px;
  line-height: 20px;
  color: #ddd;
  margin-top: 24px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #EA5514;
  color: #fff;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #EA5514;
}

.el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #EA5514;
  color: #fff;
}

.el-pager li.active {
  color: #EA5514;
  cursor: default;
}

.el-pager li:hover {
  color: #EA5514;
}

.el-breadcrumb {
  font-size: 14px;
  line-height: 2;
}

.hand {
  cursor: pointer;
}

body .el-table th.gutter {
  display: table-cell !important;
}

.el-tabs__active-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #EA5514;
  z-index: 1;
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  list-style: none;
}

.el-tabs__item.is-active {
  color: #EA5514;
}

.el-tabs__item:hover {
  color: #EA5514;
  cursor: pointer;
}

.el-tabs__nav-wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e4e7ed;
  z-index: 1;
}

.layui-table {
  width: 100%;
  background-color: #fff;
  color: #666;
  border-top: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
}

.layui-table td,
.layui-table th {
  position: relative;
  padding: 9px 15px;
  min-height: 20px;
  line-height: 20px;
  font-size: 14px;
  border-left: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
}

.el-loading-spinner .path {
  -webkit-animation: loading-dash 1.5s ease-in-out infinite;
  animation: loading-dash 1.5s ease-in-out infinite;
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 2;
  stroke: #EA5514;
  stroke-linecap: round;
}

.el-loading-spinner .el-loading-text {
  color: #EA5514;
  margin: 3px 0;
  font-size: 14px;
}

#409eff {
  border: 0px solid #dee2e6 !important;
}
